<div class="form">
  <form action="#">
    <div class="form-group">
      <div class="item">
        <div class="tst-image">
          <%= image_tag Settings.default_image, class: "img-responsive"  %>
        </div>
        <div class="tst-author">
          <h4><%= current_user.name %></h4>
          <span><%= t "user" %></span>
        </div>
      </div>
    </div>
  </form>
</div>
<br>
<label class="control-label"><%= t "users.show.user_info" %></label>
<ul class="list">
  <li><a href="blog-post-details.html"><%= t "users.new.address"%>: <%= current_user.address %></a></li>
  <li><a href="blog-post-details.html"><%= t "users.new.phone_number"%>: <%= current_user.phone_number %></a></li>
  <li><a href="blog-post-details.html"><%= t "users.new.email"%>: <%= current_user.email %></a></li>
</ul>

