<div class="form">
  <form action="#">
    <div class="form-group">
      <div class="item">
        <div class="tst-image">
          <%= image_tag Settings.default_image, class: "img-responsive"  %>
        </div>
        <div class="tst-author">
          <h4><%= user.name %></h4>
          <span><%= t "user" %></span>
        </div>
      </div>
    </div>
  </form>
</div>
<br>
<label class="control-label"><%= t "users.show.user_info" %></label>
<ul class="list">
  <li><%= t "users.new.address"%>: <%= user.address %></li>
  <li><%= t "users.new.phone_number"%>: <%= user.phone_number %></li>
  <li><%= t "users.new.email"%>: <%= user.email %></li>
</ul>
<% if logged_in? && current_user?(user) %>
  <%= link_to new_post_path, class: "section-btn btn btn-primary btn-block" do %>
    <i class="fa fa-plus-circle"></i> <%= t("posts.new.create_post") %>
  <% end %>
<% end %>
