<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div>
          <%= image_tag @post.car_image.url, class: "img-responsive"  %>
        </div>
        <br>
      </div>
      <div class="col-md-6 col-xs-12">
        <h2><%= @post.name %></h2>
        <p class="lead">
          <strong class="text-primary">
            <%= number_to_price @post.car_price %>
          </strong>
        </p>
        <%= hidden_field_tag :post_id, @post.id, id: "post_id" %>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.year_of_manufacture" %></span>
              <br>
              <strong><%= @post.car_year_of_manufacture_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.gear_box" %></span>
              <br>
              <strong><%= @post.car_gearbox_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.origin" %></span>
              <br>
              <strong><%= @post.car_origin_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.car_type" %></span>
              <br>
              <strong><%= @post.car_car_type_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.brand" %></span>
              <br>
              <strong><%= @post.car_brand_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.car_model" %></span>
              <br>
              <strong><%= @post.car_car_model_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.color" %></span>
              <br>
              <strong><%= @post.car_color_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.number_of_seat" %></span>
              <br>
              <strong><%= @post.car_number_of_seat_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.condition" %></span>
              <br>
              <strong><%= @post.car_condition_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.fuel" %></span>
              <br>
              <strong><%= @post.car_fuel_name %></strong>
            </p>
          </div>
          <div class="col-md-4 col-sm-6">
            <p>
              <span><%= t "posts.new.mileage" %></span>
              <br>
              <strong><%= @post.car_mileage %></strong>
            </p>
          </div>
        </div>
        <section>
          <% if logged_in? %>
            <div class="col-md-5">
              <%= button_tag id: "favorite_list_link", class: "section-btn btn btn-primary btn-block" do %>
                <i class="fa fa-heart"></i> <%= favorite_list_text %>(<%= @favorite_count %>)
              <% end %>
            </div>
            <% if current_user? @post.user %>
              <div class="col-md-3">
                <%= link_to edit_post_path(@post.id), class: "section-btn btn btn-primary btn-block" do %>
                  <i class="fa fa-pencil-square-o"></i> <%= t "edit" %>
                <% end %>
              </div>
              <div class="col-md-3">
                <%= link_to @post, method: :delete, data: { confirm: t(".you_sure") }, class: "section-btn btn btn-primary btn-block" do %>
                  <i class="fa fa-trash-o"></i> <%= t "delete" %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </section>
      </div>
    </div>
    <section>
      <div class="row">
        <div class="col-lg-8 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4><%= t ".description" %></h4>
            </div>
            <div class="panel-body">
              <p><%= @post.content %></p>
            </div>
            <div class="panel-body">
              <h3><%= t "comments.comments" %></h3>
              <%= form_for [@post, Comment.new] do |f| %>
                <%= f.text_area :content, placeholder: t("comments.add_a_comment"), class: "form-control" %><br>
                <%= f.submit t("comments.comments"), class: "btn btn-primary" %>
              <% end %>
              <br>
              <ul>
                <div id="comment-panel">
                  <%= render partial: "comments/comment", collection: @post.comments %>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xs-12">
          <%= render @post.user %>
        </div>
      </div>
    </div>
  </section>
</section>
