<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield :title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "admins/admins", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "admins", "data-turbolinks-track": "reload" %>
  </head>
  <body class="sb-nav-fixed">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <%= message %>
      </div>
    <% end %>
    <%= render "admins/layouts/navbar" %>
    <%= render "admins/layouts/sidebar" %>
    <%= yield %>
  </body>
</html>
